/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
       [CustomerKey] As [Customer Key]
      --,[GeographyKey]
      --,[CustomerAlternateKey]
      --,[Title]
      ,[FirstName] AS [First Name]
      --,[MiddleName]
      ,[LastName] AS [Last Name]
	  , FirstName +' '+ LastName As [Full Name]
     -- ,[NameStyle]
     -- ,[BirthDate]
     -- ,[MaritalStatus]
      --,[Suffix]
      --,[Gender]
	  ,CASE Gender WHEN 'M' THEN 'Male' WHEN 'F' THEN 'Female' END AS Gender
     -- ,[EmailAddress]
      --,[YearlyIncome]
      --,[TotalChildren]
     -- ,[NumberChildrenAtHome]
     -- ,[EnglishEducation]
      --,[SpanishEducation]
      --,[FrenchEducation]
      --,[EnglishOccupation]
      --,[SpanishOccupation]
      --,[FrenchOccupation]
      --,[HouseOwnerFlag]
      --,[NumberCarsOwned]
      --,[AddressLine1]
     -- ,[AddressLine2]
      --,[Phone]
      ,[DateFirstPurchase] As [Date First Purchase]
      --,[CommuteDistance]
	  , DimGeography.City As City
  FROM [AdventureWorksDW2014].[dbo].[DimCustomer]
  LEFT JOIN dbo.DimGeography ON DimGeography.GeographyKey = DimCustomer.GeographyKey
  ORDER BY [Customer Key] 